/* keyfames */

.card-img1 {
  width: 100%;
  height: 100%;
  transform-origin: bottom center;

  transition: 0.5s all ease;
  object-fit: cover;
  flex-shrink: 3;
  display: flex;
  flex-direction: row;
}

.card-img2 {
  width: 100%;
  height: 100%;
  transform-origin: bottom center;

  transition: 0.5s all ease;
  object-fit: cover;
  flex-shrink: 3;
  display: flex;
  flex-direction: row;
}

/*animation*/

.card1 {
  height: auto;
  margin: 3rem auto;
  width: 26%;
  border: 2rem solid rgb(0, 0, 0);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card2 {
  height: auto;
  margin: 3rem auto;
  width: 26%;
  border: 2rem solid rgb(0, 0, 0);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* making the cards*/
