/* keyfames */

@keyframes contract {
  0% {
    transform: scaleY(100%);
  }
  100% {
    transform: scaleY(50%);
  }
}

@keyframes expand {
  0% {
    transform: scaleY(50%);
  }
  100% {
    transform: scaleY(100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}

/*animation*/

.card1:hover {
  animation: contract 0.5s ease-in-out forwards;
}

.card1:not(:hover) {
  animation: expand 0.5s ease-in-out;
}

.card2:hover {
  animation: slide-in 1s ease-in-out forwards;
}

.card2:not(:hover) {
  animation: slide-out 1s ease-in-out;
}

.card-img1 {
  width: 100%;
  height: 100%;
  transform-origin: bottom center;

  transition: 0.5s all ease;
  object-fit: cover;
  flex-shrink: 3;
  display: flex;
  flex-direction: row;
}

.card-img2 {
  width: 100%;
  height: 100%;
  transform-origin: bottom center;

  transition: 0.5s all ease;
  object-fit: cover;
  flex-shrink: 3;
  display: flex;
  flex-direction: row;
}

/*animation*/

.card1 {
  height: auto;
  margin: 3rem auto;
  width: 26%;
  border: 2rem solid rgb(0, 0, 0);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card2 {
  height: auto;
  margin: 3rem auto;
  width: 26%;
  border: 2rem solid rgb(0, 0, 0);
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* making the cards*/
